.card {
  background-color: rgba(255,255,255,1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  text-align: left;
  margin-top: 1.5rem;
}

.image  {
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.text {
  padding: 1rem 1.5rem;
}

.date {
  font-size: 1rem;
  margin: 0;
  font-family: input-mono, monospace;
}
.title {
  font-size: 1.5rem;
  color: #793ce9;
  margin: 0 0 0.5rem;
  font-weight: 600;
}
.desc {

}
