.main {
  align-items: center;
  bottom: 0;
  color: #FFFFFF;
  display: flex;
  height: 5rem;
  justify-content: center;
  left: 0;
  //position: absolute;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  max-width: 1328px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
}

.link {
  cursor: pointer;
  margin-left: 1rem;
}

.outer {
  font-family: -apple-system, Helvetica Neue, sans-serif;
}
