
.container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.containerTwo {
  bottom: 0;
  left: 0;
  overflow: scroll;
  padding: 3rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.background {
  background-color: rgba(255,255,255,0.5);
  bottom: 0;
  //backdrop-filter: blur(4px);
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #0000002c;
  border-radius: 8px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  max-height: 94vh;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  z-index: 99999;


  & input {
    border: 2px solid #E5E5E5;
    border-radius: 0.5rem;
    font-size: 20px;
    height: 2.5rem;
    outline: none;
    padding: 0 0 0.1rem 1rem;
    margin: 1.25rem 0;
    width: 100%;
    &:focus {
      border-color: #9d3ef5;
    }
  }

  & h1 {
    font-size: 3rem;
    font-style: italic;
    letter-spacing: -2px;
    line-height: 1.15;
    margin-top: 0;
  }

  & h3 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  & p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: #000000;
  }

  & a {
    font-weight: bold;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  & img {
    width: 16px;
    height: 20px;
  }
}

.modalSub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  & p {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  & h3 {
    margin-top: 1rem;
    text-align: center;
  }
}
